<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{ title }} </title>

  <!-- Bootstrap core CSS -->
  <!-- Latest compiled and minified CSS -->
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>


  <!-- Latest compiled JavaScript -->
  <script src="js/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</head>
<body scroll="no" style="overflow: hidden">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container-fluid-nav text-center">
      <a class="navbar-brand text-center" href="#">{{ title }}</a>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
      {{{body}}}
  </div>

 <link rel="stylesheet" href="css/komunat.css">
 <script src="js/anime.min.js"></script>
 <script src="js/komunat.js"></script>
 <script src="js/komunat_animate.js"></script>

</body>

</html>
