<div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="mt-5">< Kommunat ></h1>
        <p>Wähle die Option aus, die dir wichtiger ist</p>
        <button id="#opt0" onclick="selected(0)">Option 1</button>
        <button id="#opt1" onclick="selected(1)">Option 2</button>
      </div>
</div>

<script src='js/vote.js'></script>