extends layout

block variables
  - var title = "Deine Aufgaben"

block content
  .card
    .card-body
      h2.text-center Deine Aufgaben, #{user.profile.firstName} #{user.profile.lastName} 
      if contentsList.length > 0
        h6.text-muted Deine Aufgaben (sortiert nach Wichtigkeit)
        ul.list-group.list-group-flush
        - contentsList.forEach(function(entry){
          li.list-group-item= entry.name
        - });
      else 
        p Entscheide, was wichtiger für dich ist: 
        a.btn.btn-info.btn-block(onclick='selected(0,"'+ userID +'")' role='button' id='#opt0') Option 1
        a.btn.btn-info.btn-block(onclick='selected(1,"'+ userID +'")' role='button' id='#opt1') Option 2


  script       
        include ../js/contents.js