extends layout

block variables
  - var title = "Dashboard"

block content
  .card
    .card-body
      h2.text-center Willkommen, #{user.profile.firstName} #{user.profile.lastName}
      if valuesInserted == false
        .alert.alert-info.alert-dismissable
            a.panel-close.close(data-dismiss='alert') ×
            | Dein Profil ist noch nicht für Wähler sichtbar, da du deine 
            strong Werte 
            | noch nicht ermittelt hast.
      if contentsInserted == false
        .alert.alert-info.alert-dismissable
            a.panel-close.close(data-dismiss='alert') ×
            | Dein Profil ist noch nicht für Wähler sichtbar, da du deine 
            strong Inhalte 
            | noch nicht ermittelt hast.
      .row
        .col-sm-4
          .card
            .card-body
              h5.card-title Meine Werte
              p.card-text
                | Für welche Werte stehst du? Finde es heraus und repräsentiere deine Werte
              a.btn.btn-dark.btn-block(href='/komunat', role='button') Meine Werte
        .col-sm-4
          .card
            .card-body
              h5.card-title Meine Inhalte
              p.card-text
                | Für welche Inhalte stehst du? Finde es heraus und repräsentiere deine Inhalte
              a.btn.btn-dark.btn-block(href='/contents', role='button') Meine Inhalte
        .col-sm-4
          .card
            .card-body
              h5.card-title Meine Veranstaltungen
              p.card-text
                | Wo trittst du auf? Lass die Wähler wissen, wo sie dich finden können
              a.btn.btn-dark.btn-block(href='/events', role='button') Meine Veranstaltungen
      .row
        .col-sm-12
          .card
            .card-body
              h5.card-title Mein Profil
              p.card-text
                | Deine Wähler wollen wissen, wer du bist und wo du antrittst. Bearbeite hier dein Profil
              a.btn.btn-dark.btn-block(href='/profile', role='button') Profil bearbeiten
