#firstModal.modal.fade
  .modal-dialog
    .modal-content
      // Modal Header
      .modal-header
        h4.modal-title Information
        button.close(type='button', data-dismiss='modal') x
      .modal-body
        form
          .form-group
            p Auf dieser Seite kannst du deine 
              span(id="attributeType")
              | herausfinden, indem du den Komunat selbst durchgehst. Sobald du durch bist, wird dir hier dein Ergebnis präsentiert.
              br
              strong Der Komunat darf nur ein einziges Mal durchlaufen werden.
      // Modal footer
      .modal-footer
        button.btn.btn-info(type='button', data-dismiss='modal') Verstanden
