block variables
  - var title = "Home"

block content
  h2.text-center Willkommen zum Komunat

  .row
    .offset-sm-2.col-sm-8
      .jumbotron.text-center.
        Erfahre eine neue Seite von Politik!
