block variables
 - var selected = "Home"

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet" href="/stylesheets/bootstrap.min.css" crossorigin="anonymous")
    script( src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
    script( src="/js/bootstrap.min.js" crossorigin="anonymous")
    script( src="/js/croppie.js" crossorigin="anonymous")
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="/stylesheets/croppie.css")
    link(rel="stylesheet", href="/stylesheets/style.scss")
    
    title Komunat: #{title}
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      if user == undefined
          li.nav-item
            a.navbar-brand(href='/') Komunat - Kandidatenportal
      else
          a.navbar-brand(href='/dashboard') Komunat - Kandidatenportal
      #navbar.collapse.navbar-collapse.justify-content-between
      #navbarSupportedContent.collapse.navbar-collapse.justify-content-between
        .navbar-nav
          a.nav-item.nav-link(href='#') 
        .navbar-nav
          if user == undefined
            a.nav-item.nav-link(href='/users/login') Login / Registrieren
          else
            a.nav-item.nav-link(href='/users/logout') Logout

    block content

          
