<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{ title }} </title>

  <!-- Bootstrap core CSS -->
  <!-- Latest compiled and minified CSS -->

</head>

<body scroll="no" style="overflow: hidden">
  {{{body}}}
</body>

 <link rel="stylesheet" href="css/vote.css">
 <script src="js/anime.min.js"></script>
 <script src="js/vote.js"></script>
 <script src="js/vote_animate.js"></script>

</html>