.top-bar a {
  text-decoration: none;
  color: inherit;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  border-top: 1px solid rgba(0,0,0,.1);
  padding-top: 1em;
  text-align: center;
  margin-top: 1em;
  text-align: center
}

h1 {
  margin: 20px;
}

h2 {
  margin: 20px;
}

.profileContainer {
  margin-left:50px;
  margin-right: 50px;
}

.upload-btn-wrapper {
  overflow: hidden;
  margin-bottom: 10px;
}

input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}