extends layout

block variables
  - var title = "Dashboard"

block content
  .card
    .card-body
      h2.text-center Willkommen, #{user.profile.firstName} #{user.profile.lastName}
      h5.text-center Hier kannst du dir dein persönliches Profil im Komunat anlegen.
      if valuesInserted == false
        .alert.alert-info.alert-dismissable
            a.panel-close.close(data-dismiss='alert') ×
            | Dein Profil ist noch nicht für Wähler sichtbar, da du deine 
            strong Werte 
            | noch nicht ermittelt hast.
      if contentsInserted == false
        .alert.alert-info.alert-dismissable
            a.panel-close.close(data-dismiss='alert') ×
            | Dein Profil ist noch nicht für Wähler sichtbar, da du deine 
            strong Inhalte 
            | noch nicht ermittelt hast.
      .row
        .col-sm-12
          .card
            .card-body
              h5.card-title Meine Veranstaltungen
              p.card-text
                | Wo trittst du auf? Lass die Wähler wissen, wo sie dich finden können.
                br
                br
              a.btn.btn-dark.btn-block(href='/events', role='button') Meine Veranstaltungen
      .row
        .col-sm-12
          .card
            .card-body
              h5.card-title Mein Profil
              p.card-text
                | Die WählerInnen wollen wissen, wer du bist! Erstelle hier dein persönliches Profil mit Zitat und Bild. Diesen Bereich kannst du jederzeit bis zur Wahl bearbeiten.
              a.btn.btn-dark.btn-block(href='/profile', role='button') Profil bearbeiten
