#firstModal.modal.fade
  .modal-dialog
    .modal-content
      // Modal Header
      .modal-header
        h4.modal-title Information
        button.close(type='button', data-dismiss='modal') x
      .modal-body
        form
          .form-group
            p Klicke immer die 
              span(id="attributeType")
              | an, die dir persönlich wichtiger sind. Damit wird dein persönliches Ranking erstellt. 
              br
              strong Der KOMUNAT darf nur ein einziges Mal durchlaufen werden. 
      // Modal footer
      .modal-footer
        button.btn.btn-info(type='button', data-dismiss='modal') Los geht's!
