#imageHelpModal.modal.fade
  .modal-dialog
    .modal-content
      // Modal Header
      .modal-header
        h4.modal-title Information
        button.close(type='button', data-dismiss='modal') x
      .modal-body
        form
          .form-group
            p Dein Bild wird später im ähnlichen Format (ungefähr 16:9) wie angezeigt, dargestellt. Aufgrund von verschiedenen Bildschirmauflösungen bei Smartphones, kann dein Bild oben und unten ein wenig abgeschnitten werden.
            | Stelle also am besten sicher, dass du oben und unten ein wenig Platz zum Kopf hast. 
            br
            | Das Bild muss entweder ein .jpeg oder ein .png sein und darf nicht größer als 3mb sein.
      // Modal footer
      .modal-footer
        button.btn.btn-info(type='button', data-dismiss='modal') OK
