extends layout

block variables
  - var title = "Komunat - Impressum"

block content
        hr
        .profileContainer
            .row
                .container
                    .col-md-12
                    h3 Impressum
                    p
                    | Der Komunat ist ein Produkt des Vereins Unsere Zukunft e.V.i.G.
                    br
                    br
                    | Die Inhalte des Komunat wurden in Rücksprache mit den amtierenden Fraktionen und Listen des Stuttgarter Gemeinderats erarbeitet. Stand: März 2019
                    br
                    br
                    h3 Herausgeber
                    p
                    | Verantwortlich gemäß § 55 RStV:
                    br
                    br
                    | Unsere Zukunft e.V.i.G.
                    br
                    | Hohentwielstraße 118
                    br
                    | 70199 Stuttgart
                    br
                    | hallo(at)unserezukunft.org                    
            hr