doctype html
html
  head
    title Komunat - Dein Wahlhelfer für die Komunalwahl 2019 in Stuttgart!
    meta(name='description', content='Komunat - Dein digitaler Wahlhelfer für die Komunalwahl 2019 in Stuttgart!')
    meta(name='keywords', content='komunalwahl, komunalwahl 2019, komunalwahl 2019 Stuttgart, bundestagswahl, landtagswahl, wahlergebnisse, kommunalwahl 2014, kommunalwahl wahlomat, wann sind kommunalwahlen, wer wird bei einer kommunalwahl gewählt, wer wird bei einer kommunalwahl gewählt, kommunalwahl wer wird gewählt, ergebnisse der landtagswahlen, wahlomat kommunalwahl, wahlergebnisse landtagswahlen, was bedeutet kommunalwahl, wer wird bei der kommunalwahl gewählt, wahlergebnisse bundestagswahl, was wird bei der kommunalwahl gewählt, wann sind die nächsten landtagswahlen, kommunalwahl was ist das, kommunalwahl wie wird gewählt, wahlbeteiligung kommunalwahlen, wie wird gewählt kommunalwahl, wahlergebnisse 2016, kommunalwahl kandidaten, legislaturperiode kommunalwahl, bundestagswahl')
    meta(name='author', content='Simon Strobel')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='language', content='DE')
    meta(property='og:image', content='https://komunat.de/logo.png')
    meta(property='og:type', content='website')
    meta(property='og:url', content='https://komunat.de')
    meta(property='og:title', content='Komunat - Dein digitaler Wahlhelfer')
    meta(property='og:description', content='Komunat - Dein digitaler Wahlhelfer für die Kommunalwahl 2019 in Stuttgart. Finde durch Abgleichen deiner Werte ganz einfach deine Traumkandidaten.')
    link(rel='shortcut icon', href='https://komunat.de/favicon.png', type='image/png')
    link(rel='icon', href='https://komunat.de/favicon.png', type='image/png')

    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    link(rel='stylesheet', type='text/css', href='/stylesheets/index.css')
    script(src='/js/main.js', type='text/javascript')
  body
    #bg
    div(style='display: none;')
      h1 Komunat - Komunalwahl 2019
      |   bundestagswahl
      |   landtagswahl
      |   wahlergebnisse
      |   kommunalwahl 2014
      |   kommunalwahl wahlomat
      |   wann sind kommunalwahlen
      |   wer wird bei einer kommunalwahl gewählt
      |   wer wird bei kommunalwahl gewählt
      |   kommunalwahl wer wird gewählt
      |   ergebnisse der landtagswahlen
      |   wahlomat kommunalwahl
      |   wahlergebnisse landtagswahlen
      |   was bedeutet kommunalwahl
      |   wer wird bei der kommunalwahl gewählt
      |   wahlergebnisse bundestagswahl
      |   was wird bei der kommunalwahl gewählt
      |   wann sind die nächsten landtagswahlen
      |   kommunalwahl was ist das
      |   kommunalwahl wie wird gewählt
      |   wahlbeteiligung kommunalwahlen
      |   wie wird gewählt kommunalwahl
      |   wahlergebnisse 2016
      |   kommunalwahl kandidaten
      |   legislaturperiode kommunalwahl
      |   bundestagswahl
      h2 Dein Team für den Stuttgarter Gemeinderat!
      p
        | Finde mit dem KOMUNAT heraus, wer deine TOP-KandidatInnen für die Gemeinderatswahl in Stuttgart am 26. Mai 2019 sind.
      h2 Jetzt geht´s los!
      p
        | Vergleiche die Werte und kommunalpolitischen Aufgaben, die dir wichtig sind, mit den Antworten der KandidatInnen.
      h2
        | Dein Team
        br
        | für den Gemeinderat ist fast fertig.
      p Welcher Wert ist dir wichtiger?
      h2 Schau dir jetzt dein Team für den Gemeinderat genauer an.
      p Welche Aufgabe ist dir wichtiger?
      p Es gibt viele Möglichkeiten bei der Kommunalwahl am 26. Mai in Stuttgart zu wählen, wir präsentieren dir hier die Einfachste. Du hast 60 Stimmen und du darfst jeder KandidatIn bis zu 3 Stimmen geben. Wenn du allen deinen Top 20 aus dieser Liste 3 Stimmen gibst, machst du nichts falsch.
      p Es gibt viele Möglichkeiten bei der Kommunalwahl am 26. Mai in Stuttgart zu wählen, wir präsentieren dir hier die Einfachste. Du hast 60 Stimmen und du darfst jeder KandidatIn bis zu 3 Stimmen geben. Wenn du allen deinen Top 20 aus dieser Liste 3 Stimmen gibst, machst du nichts falsch.
      p Es gibt viele Möglichkeiten bei der Kommunalwahl am 26. Mai in Stuttgart zu wählen, wir präsentieren dir hier die Einfachste. Du hast 60 Stimmen und du darfst jeder KandidatIn bis zu 3 Stimmen geben. Wenn du allen deinen Top 20 aus dieser Liste 3 Stimmen gibst, machst du nichts falsch.
      p Es gibt viele Möglichkeiten bei der Kommunalwahl am 26. Mai in Stuttgart zu wählen, wir präsentieren dir hier die Einfachste. Du hast 60 Stimmen und du darfst jeder KandidatIn bis zu 3 Stimmen geben. Wenn du allen deinen Top 20 aus dieser Liste 3 Stimmen gibst, machst du nichts falsch.
    div
      img#iphoneX.center-bg(src='/iphonexBg.png')
      img#iphoneX.center(src='/iphonex.png')
      iframe#app.center-frame(allowtransparency="true", style="background: #FFFFFF;", frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='', src='https://komunat.de/app/')
      | >
    .topBar
      .row
        .col.col-md-2
          p.opacity-half
            a(href='/dashboard') KANDIDATENPORTAL
        .text-center.col.col-md-8
          p
        .col.col-md-2
          p.opacity-half
            a(href='http://stuggy-city.de/') Bild von stuggy city/celal tayar
    .footer
      .row
        .text-center.col.col-md-1
          p.opacity-half
            a(href='/dsgvo') DSGVO
        .text-center.col.col-md-10
          p
            | Made with 
            span(style='color: #e25555;')  ♥ 
            |  in Stuttgart
        .text-center.col.col-md-1
          p.opacity-half
            a(href='/impressum') IMPRESSUM
