block variables
 - var selected = "Home"

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet" href="/stylesheets/bootstrap.min.css" crossorigin="anonymous")
    script( src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
    script( src="/js/bootstrap.min.js" crossorigin="anonymous")
    script( src="/js/croppie.js" crossorigin="anonymous")
    script( type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js")
    script( type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js")
    script( type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js")

    link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="/stylesheets/croppie.css")
    link(rel='shortcut icon', href='https://komunat.de/favicon.png', type='image/png')
    link(rel='icon', href='https://komunat.de/favicon.png', type='image/png')
    
    title Komunat: #{title}
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      if user == undefined
          li.nav-item
            a.navbar-brand(href='/dashboard') Komunat - KandidatInnen-Portal
      else
          a.navbar-brand(href='/dashboard') Komunat - KandidatInnen-Portal
          a.nav-item.dashboardLink(href='/dashboard') Dashboard
      #navbar.collapse.navbar-collapse.justify-content-between
      #navbarSupportedContent.collapse.navbar-collapse.justify-content-between
        .navbar-nav
          a.nav-item.nav-link(href='#')
        .navbar-nav
          if user == undefined
            a.nav-item.nav-link(href='/users/login') Login / Registrieren
          else
            a.nav-item.nav-link(href='/users/logout') Logout

    block content

    footer.footer
        .row
          .col-md-2.text-center
            a(href='/dsgvo') DSGVO
          .col-md-8.text-center
            p.footerTxt Made with <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> in Stuttgart
          .col-md-2.text-center
            a(href='/impressum') Impressum
