#successModalContents.modal.fade
  .modal-dialog
    .modal-content
      // Modal Header
      .modal-header
        h4.modal-title Gratulation
        button.close(type='button', data-dismiss='modal') x
      .modal-body
        form
          .form-group
            p Du hast den Komunat Teil-Aufgaben erfolgreich abgeschlossen. Deine Aufgaben wurden gespeichert und können nun angesehen werden.
              br
      // Modal footer
      .modal-footer
        button.btn.btn-info(type='button', data-dismiss='modal' onclick="reloadContents()") Weiter
