#uploadModal.modal.fade
  .modal-dialog
    .modal-content
      // Modal Header
      .modal-header
        h4.modal-title Bild in Bearbeitung
      .modal-body
        form
          .form-group
            p Dein Bild gerade hochgeladen.
            | Je nach Bildgröße kann das ein paar Sekunden dauern...
