@import url('https://fonts.googleapis.com/css?family=Open+Sans:800|Poppins:500');

html, body {margin: 0; height: 100%; overflow: hidden}

#bg { 
  /* The image used */
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-filter: brightness(50%);
  background-image: url("/001.jpg");
  -webkit-transition: background 3s ease-in-out;
  -moz-transition: background 3s ease-in-out;;
  -o-transition: background 3s ease-in-out;;
  -ms-transition: background 3s ease-in-out;;
  transition: background 3s ease-in-out;;
}

.intro {
    z-index: 1;
    position: fixed;
    height: 100%;
    width: 100%;
    margin: auto;
    background-size: cover;
    display: table;
    top: 0;
}

.topBar {
  position: absolute;
  top:0;
  left:1vw;
  width:100%;
  height:5vh;
  line-height: 5vh;
}

.footer {
  position: absolute;
  left:1vw;
  bottom: 0;
  width: 98vw;
  right:1vw;
  height:5vh;
  line-height: 5vh;
}

.row {
  margin:0;
  padding:0;
}

.col {
  margin:0;
  padding:0;
}

span {
  margin:0;
  padding:0;
}

p {
  font-family: 'Source Sans Pro';
  font-weight:  black;
  font-size: 1em;
  color: #DEE0E5;
  margin:0;
  padding:0;
  
}

.opacity-half {
  opacity: 0.5;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  cursor: pointer;
}

.opacity-half:hover {
  opacity: 1.0;
}

.content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width:20vw;
  height:70vh;
  min-height: 560px;
  min-width: 280px;
  max-width: 280px;
  max-height: 550px;
  text-align: center;
}

.content img {
  width: 100%;
  height: 100%;
}

.iframe {
  margin: auto;
  position: absolute;
  top:8%;
  left:8%;
  width: 84%;
  height: 84%;
}

@keyframes cf3FadeInOut {
    0% {
    opacity:1;
  }
  45% {
  opacity:1;
  }
  55% {
  opacity:0;
  }
  100% {
  opacity:0;
  }
  }

  #app {
      z-index: 1337;
  }

a { padding:15px; font-weight:bold; float:left; }
a:link { color:#DEE0E5; }
a:visited { color:#DEE0E5; }
a:hover { color:#DEE0E5; }
a:active { color:#DEE0E5; }

