.top-bar a {
  text-decoration: none;
  color: inherit;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: 40px;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  border-top: 1px solid rgba(0,0,0,.1);
  padding-top: 1em;
  margin-top: 1em;
}

footer a {
  color:black;
}

h1 {
  margin: 20px;
}

h2 {
  margin: 20px;
}

.profileContainer {
  margin-left:50px;
  margin-right: 50px;
}

.upload-btn-wrapper {
  overflow: hidden;
  margin-bottom: 10px;
}

input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.card {
  margin: 20px;
}

.card .bg-info {
  background-color: bisque;
}

.right {
  position: absolute;
  top:10px;
  right: 20px;
}

.sidenote {
  font-size: 12px;
}

.dashboardLink {
  color: white
}

.decisionCenter {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.decisionBtn {
  min-height: 100px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  line-height: 100px;
  overflow: visible;
  color:white;
}

.footerTxt {
  margin: 5px;
  font-size: 14px;
}